{% extends "layout.html" %}

{% block content %}
  <div class="section-wrap">
    <section>
      <h1>Contact</h1>
      <p>If you'd like to get in touch with me, you can do so by:</p>

      <div class="contact-grid">
        <a href="mailto:&#108;&#117;&#107;&#101;&#046;&#100;&#046;&#109;&#097;&#114;&#116;&#105;&#110;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;?subject=Hello" class="contact-grid-item">
          <div class="contact-grid-header">
            <h2>Email</h2>
          </div>
          <div class="contact-grid-icon">
            <i class="icon-mail"></i>
          </div>
          <div class="contact-grid-val">
            &#108;&#117;&#107;&#101;&#046;&#100;&#046;&#109;&#097;&#114;&#116;&#105;&#110;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;
          </div>
        </a>
        <a href="http://github.com/lukemartin" class="contact-grid-item" target="_blank">
          <div class="contact-grid-header">
            <h2>Github</h2>
          </div>
          <div class="contact-grid-icon">
            <i class="icon-github"></i>
          </div>
          <div class="contact-grid-val">
            lukemartin
          </div>
        </a>
        <a href="https://bitbucket.org/lukemartin" class="contact-grid-item" target="_blank">
          <div class="contact-grid-header">
            <h2>BitBucket</h2>
          </div>
          <div class="contact-grid-icon">
            <i class="icon-bitbucket"></i>
          </div>
          <div class="contact-grid-val">
            lukemartin
          </div>
        </a>
        <a href="http://stackoverflow.com/users/584311/luke" class="contact-grid-item" target="_blank">
          <div class="contact-grid-header">
            <h2>Stack Overflow</h2>
          </div>
          <div class="contact-grid-icon">
            <i class="icon-stack"></i>
          </div>
          <div class="contact-grid-val">
            luke
          </div>
        </a>
        <a href="http://codepen.io/luke" class="contact-grid-item" target="_blank">
          <div class="contact-grid-header">
            <h2>CodePen</h2>
          </div>
          <div class="contact-grid-icon">
            <i class="icon-codepen"></i>
          </div>
          <div class="contact-grid-val">
            luke
          </div>
        </a>
        <a href="http://twitter.com/luke_is" class="contact-grid-item" target="_blank">
          <div class="contact-grid-header">
            <h2>Twitter</h2>
          </div>
          <div class="contact-grid-icon">
            <i class="icon-twitter"></i>
          </div>
          <div class="contact-grid-val">
            @luke_is
          </div>
        </a>
        <a href="http://uk.linkedin.com/in/lukeis/" class="contact-grid-item" target="_blank">
          <div class="contact-grid-header">
            <h2>LinkedIn</h2>
          </div>
          <div class="contact-grid-icon">
            <i class="icon-linkedin"></i>
          </div>
          <div class="contact-grid-val">
            lukeis
          </div>
        </a>
        <a href="http://last.fm/user/Lukus" class="contact-grid-item" target="_blank">
          <div class="contact-grid-header">
            <h2>last.fm</h2>
          </div>
          <div class="contact-grid-icon">
            <i class="icon-lastfm"></i>
          </div>
          <div class="contact-grid-val">
            lukus
          </div>
        </a>
      </div>
    </section>
  </div>
{% endblock %}