{% extends "layout.html" %}

{% block content %}
  <h1 class="hidden">Luke Martin: Freelance Developer in London</h1>

  <div class="section-wrap">
    <section>
      <div class="hero">
        <p>
          Hello. My name is <span>Luke&nbsp;Martin</span>.<br> I'm a Freelance Developer in London.
        </p>
      </div>
    </section>
  </div>

  <div class="section-wrap alt">
    <section>
      <div class="three-thing">
        <div class="avatar">
          <img src="/images/avatar.jpg">
        </div>
        <div class="left-part">
          <p>
            <a href="/working/" class="button">View my work</a>
          </p>
        </div>
        <div class="right-part">
          <p>
            <a href="/here/" class="button">Get in touch</a>
          </p>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
