<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Typekit -->
  <script src="//use.typekit.net/sjc8avb.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <!-- Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <title>{{ page.metadata.title }} - luke.is</title>
  <meta name="description" content="{{ page.metadata.description }}">

  <link rel="shortcut icon" href="/images/favicon/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/images/favicon/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-touch-icon-152x152.png" />

  <!-- Styles -->
  <link rel="stylesheet" href="/styles/main.css">
  <script src="/scripts/prefixfree.min.js"></script>
</head>

<body>

  <div class="header-wrap colour-blue">
    <header class="main-header">
      <div class="name">
        <a href="/" class="">luke.is{% if page.metadata.headerUrlTitle %}/</a><span>{{ page.metadata.headerUrlTitle }}</span>{% else %}</a>{% endif %}
      </div>
      </a>
      <nav class="main-nav">
        <ul class="unstyled">
          <li {% if page.metadata.headerUrlTitle == 'working' %}class="active"{% endif %}><a href="/working/" title="Work">Work</a></li>
          <li {% if page.metadata.headerUrlTitle == 'here' %}class="active"{% endif %}><a href="/here/" title="Contact">Contact</a></li>
          {#<li {% if page.metadata.headerUrlTitle == 'blogging' %}class="active"{% endif %}><a href="/blogging/" title="Blog">Blog</a></li>#}
        </ul>
      </nav>
    </header>
  </div>

  <div class="content-wrap">
    <div id="content" class="content">
      {% block content %}
      {% endblock %}
    </div>
  </div>

  <!-- Scripts -->
  {#
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="/scripts/jquery.history.min.js"></script>
  <script src="/scripts/velocity.min.js"></script>
  <script src="/scripts/main.js"></script>
  #}

  {% if env.mode == 'preview' %}
  <script src="http://127.0.0.1:35777/livereload.js"></script>
  {% else %}
  <script>
    !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
    arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
    d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
    insertBefore(d,q)}(window,document,'script','_gs');

    _gs('GSN-183620-H');
  </script>
  {% endif %}
</body>
</html>