{% extends "layout.html" %}

{% block content %}
  <h1 class="hidden">Work</h1>

  <div class="section-wrap">
    <section class="project">
      <div class="project-image">
        <a href="./haircvt/" class="image">
          <img src="./haircvt/thumb.jpg" />
        </a>
      </div>
      <div class="project-meta">
        <h2 class="h1"><a href="./haircvt/">HAIRCVT</a></h2>
        <p>
          Responsive website build with Node.js admin&nbsp;&amp;&nbsp;API
        </p>
        <p>
          <a href="./haircvt/" class="button" title="HAIRCVT">View</a>
        </p>
      </div>
    </section>
  </div>

  <div class="section-wrap alt">
    <section class="project">
      <div class="project-image">
        <a href="./haircvt-app/" class="image">
          <img src="./haircvt-app/thumb-alt.jpg" />
        </a>
      </div>
      <div class="project-meta">
        <h2 class="h1"><a href="./haircvt-app/">HAIRCVT App</a></h2>
        <p>
          iOS &amp; Android app for salons &amp; stylists to display their portfolios on haircvt.com
        </p>
        <p>
          <a href="./haircvt-app/" class="button" title="HAIRCVT App">View</a>
        </p>
      </div>
    </section>
  </div>

  <div class="section-wrap">
    <section class="project">
      <div class="project-image">
        <a href="./pure-research-group/" class="image">
          <img src="./pure-research-group/thumb.jpg" />
        </a>
      </div>
      <div class="project-meta">
        <h2 class="h1"><a href="./pure-research-group/">PureResearch Group</a></h2>
        <p>
          Research investment tool with filters &amp; D3.js&nbsp;graphs
        </p>
        <p>
          <a href="./pure-research-group/" class="button" title="PureResearch Group">View</a>
        </p>
      </div>
    </section>
  </div>

  {#
  <div class="section-wrap alt">
    <section class="project">
      <div class="project-image">
        <a href="./direct-line/" class="image">
          <img src="./direct-line/thumb.jpg" />
        </a>
      </div>
      <div class="project-meta">
        <h2 class="h1"><a href="./direct-line/">Direct Line</a></h2>
        <p>
          -
        </p>
        <p>
          <a href="./direct-line/" class="button" title="Direct Line">View</a>
        </p>
      </div>
    </section>
  </div>
  #}

  <div class="section-wrap alt">
    <section class="project">
      <div class="project-image">
        <a href="./dulux/" class="image">
          <img src="./dulux/thumb.jpg" />
        </a>
      </div>
      <div class="project-meta">
        <h2 class="h1"><a href="./dulux/">Dulux</a></h2>
        <p>
          Rebuild of dulux.co.uk
        </p>
        <p>
          <a href="./dulux/" class="button" title="Dulux">View</a>
        </p>
      </div>
    </section>
  </div>
{% endblock %}