.contact-grid
  margin-left: -3%
  overflow: hidden

  .contact-grid-item
    background-color: #f8f8f8
    float: left
    margin-left: 3%
    margin-bottom 3%
    padding: 30px 10px
    width: 47%

    .contact-grid-header
      display: none

    .contact-grid-icon
      text-align: center
      font-size: 30px

    .contact-grid-val
      white-space: nowrap
      text-align: center
      text-overflow: ellipsis
      overflow: hidden


    &:hover, &:focus
      background-color: #354b57
      color: #f8f8f8
      transition: all 0.1s ease-in-out

@media (min-width: $bp)
  .contact-grid
    margin-left: -1%

    .contact-grid-item
      margin-left: 1%
      margin-bottom: 1%
      width: 32.33%