.header-wrap
  background: transparent url(/images/header.jpg) no-repeat center center;
  background-size: 100% auto;
  padding: 10px 0
  position: relative
  -webkit-animation: header-anim 20s ease-in-out 0s infinite alternate;
  animation: header-anim 20s ease-in-out 0s infinite alternate;

  &:before
    top: 0
    left: 0
    bottom: 0
    right: 0
    content: ""
    position: absolute
    background-color: rgba(0,0,0,0.15)

  .main-header
    position: relative
    padding: 10px
    width: 100%

    .name
      font-size: 26px

      a
        color: $highlight
      span
        color: #fff
      h1
        display: inline
        font-size: inherit
        margin: 0

@media (min-width: $bp)
  .header-wrap
    padding: 50px 0

    .main-header
      margin: 0 auto
      max-width: $width

@media (min-width: $width)
  .header-wrap
    .main-header
      padding: 10px 0

@-webkit-keyframes header-anim {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(200deg);
  }
}
