.image,
figure
  // margin-left: -4%
  position: relative
  width: 100%

  img
    display: block
    width: 100%

figure
  margin: 0
figcaption
  border-left: 4px solid #354b57
  margin-top: 5px
  padding: 4px 10px 3px