body
  color: #354b57
  font-family: "proxima-nova", sans-serif
  font-weight: 100
  font-size: 16px
  letter-spacing: 2px
  line-height: 1.5
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
  font-weight: 100
  margin: 16px 0;
h1, .h1
  font-size: 40px
h2, .h2
  font-size: 32px
h3, .h3
  font-size: 28px
h4, .h4
  font-size: 24px
h5, .h5
  font-size: 16px
h6, .h6
  font-size: 16px

ul, ol
  &.unstyled
    list-style-type: none
    margin: 0
    padding: 0

a
  color: #000
  text-decoration: none

p
  font-size: 16px

dl
  dt
    font-weight: 100
  dd
    margin-left: 30px
    margin-bottom 10px

@media (min-width: $bp)
  dl
    overflow: hidden

    dl, dt
      display: inline-block
      word-wrap: break-word

    dt
      float: left
      width: 25%
    dd
      float: left
      margin-left: 0
      width: 75%

.text-center
  text-align: center

.hero
  text-align: center
  margin: 0 auto

  p
    font-size: 40px
    line-height: 1.5
    margin: 0

  span
    background-color #354b57
    color: #fff
    padding: 5px 10px

@media (min-width: $bp)
  .hero
    width: 60%

.avatar
  background-color: #fff
  border-radius: 50%
  margin: 0 auto
  width: 180px
  height: 180px
  overflow: hidden
  position: relative

  img
    border-radius: 50%
    width: 170px
    height: 170px
    position: relative
    top: 5px
    left: 5px

.three-thing
  position: relative

  .left-part
    text-align: center
  .right-part
    text-align: center

@media (min-width: $bp)
  .three-thing
    overflow: hidden
    min-height: 195px

    .left-part,
    .right-part
      width: 35%
      padding-top: 60px

    .left-part
      float: left
      text-align: right
    .right-part
      float: right
      text-align: left

    .avatar
      position: absolute
      left: 50%
      transform: translateX(-50%)

.backey-back
  background-color: #354b57
  color: #fff
  position: absolute
  top: 15px
  left: 0
  font-size: 12px
  padding: 5px 10px
  overflow: hidden
  opacity: 0.3

@media (min-width: $bp)
  .backey-back
    width: 32px

    span
      display: none

    &:hover, &:focus
      transition: all 0.1s ease-in-out
      opacity: 1
      width: 74px

      span
        display: inline

.hidden
  position: absolute
  left: -10000px
  top: -10000px
  visibility: hidden
