// Imports
@require "nib"
@require "_normalize"


// Vars
$bp = 550px
$width = 800px
$highlight = #ffc5cf
$highlight = #354b57
$highlight = rgba(#fff, 0.65)

// Partials
@require "_fonts"
@require "_images"
@require "_layout"
@require "_type"
@require "_buttons"

@require "_header"
@require "_nav"
@require "_projects"
@require "_contact"