{% extends "layout.html" %}

{% block content %}

  <div class="section-wrap">
    <section>
      <a href="../" class="backey-back"><i class="icon-arrow-left"></i>&nbsp;<span>Work</span></a>

      <h1>HAIRCVT App V2</h1>
      <p>
        The HAIRCVT App is used by hundreds of hair stylists in London and Paris to manage their salons and portfolios on the <a href="../haircvt/">HAIRCVT Website</a>.
      </p>
      <p>
        Information on the first version of the HAIRCVT App <a href="../haircvt-app/">can be found here</a>.
      </p>
    </section>
  </div>

  <div class="section-wrap alt">
    <section>
      <div class="cols cols-2">
        <div class="col three-quarters">
          <h2>My Role</h2>
          <p>
            Version 2 of the HAIRCVT App is a complete rebuild of <a href="../haircvt-app/">the previous version</a>, using the Ionic framework and Angular in favour of Sencha Touch. Babel was used to make use of the newest ES6 features.
          </p>
          <p>
            The app is available for iOS &amp; Android, and has been used to upload thousands of hairstyles to haircvt.com.
          </p>
        </div>
        <div class="col one-quarter">
          <h2>Key Skills</h2>
          <ul class="unstyled">
            <li><i class="icon-arrow-right"></i> ES6 (Babel)</li>
            <li><i class="icon-arrow-right"></i> Ionic</li>
            <li><i class="icon-arrow-right"></i> Angular</li>
            <li><i class="icon-arrow-right"></i> Cordova</li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="section-wrap">
    <section>
      <figure>
        <img src="./login.jpg" alt="HAIRCVT App Login">
      </figure>
      <figcaption>
        Login
      </figcaption>
    </section>
  </div>

  <div class="section-wrap alt">
    <section>
      <figure>
        <img src="./tips.jpg" alt="HAIRCVT App Tips">
      </figure>
      <figcaption>
        Tips
      </figcaption>
    </section>
  </div>

  <div class="section-wrap">
    <section>
      <figure class="duo">
        <img src="./tags-1.jpg" alt="HAIRCVT App Tagging">
        <img src="./tags-2.jpg" alt="HAIRCVT App Tagging">
      </figure>
      <figcaption>
        Tagging
      </figcaption>
    </section>
  </div>

  <div class="section-wrap alt">
    <section>
      <figure class="trio">
        <img src="./portfolio-1.jpg" alt="HAIRCVT App Portfolio">
        <img src="./portfolio-2.jpg" alt="HAIRCVT App Portfolio">
        <img src="./portfolio-3.jpg" alt="HAIRCVT App Portfolio">
      </figure>
      <figcaption>
        Portfolio
      </figcaption>
    </section>
  </div>

  <div class="section-wrap">
    <section>
      <figure class="duo">
        <img src="./profile.jpg" alt="HAIRCVT App Profile">
        <img src="./profile-2.jpg" alt="HAIRCVT App Profile">
      </figure>
      <figcaption>
        Stylist Profile
      </figcaption>
    </section>
  </div>

  <div class="section-wrap alt">
    <section class="text-center">
      <p>
        <a href="https://itunes.apple.com/gb/app/haircvt/id804339145?mt=8" class="button" target="_blank">
          HAIRCVT on the iOS App Store
        </a>
      </p>
      <p>
        <a href="https://play.google.com/store/apps/details?id=com.haircvt.HAIRCVT" class="button" target="_blank">
          HAIRCVT on the Google Play Store
        </a>
      </p>
      <p>
        <a href="../" class="">
          <i class="icon-arrow-left"></i> View more work
        </a>
      </p>
    </section>
  </div>

{% endblock %}
