{% extends "layout.html" %}

{% block content %}

  <div class="section-wrap">
    <section>
      <a href="../" class="backey-back"><i class="icon-arrow-left"></i>&nbsp;<span>Work</span></a>

      <h1>HAIRCVT App</h1>
      <p>
        The HAIRCVT App is used by hundreds of hair stylists in London to manage their portfolios on the <a href="../haircvt/">HAIRCVT Website</a>.
      </p>
    </section>
  </div>

  <div class="section-wrap alt">
    <section>
      <div class="cols cols-2">
        <div class="col three-quarters">
          <h2>My Role</h2>
          <p>
            I built the app using the Sencha Touch framework, with PhoneGap plugins enabling access to native functionality such as the camera, file transfer, and share sheets.
          </p>
          <p>
            The app is available for iOS &amp; Android, and has been used to upload thousands of hairstyles to haircvt.com.
          </p>
        </div>
        <div class="col one-quarter">
          <h2>Key Skills</h2>
          <ul class="unstyled">
            <li><i class="icon-arrow-right"></i> PhoneGap</li>
            <li><i class="icon-arrow-right"></i> Sencha Touch</li>
            <li><i class="icon-arrow-right"></i> Web SQL</li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="section-wrap">
    <section>
      <figure>
        <img src="./signin-menu.jpg" alt="HAIRCVT App Sign In &amp; Main Menu">
      </figure>
      <figcaption>
        Sign In &amp; Main Menu
      </figcaption>
    </section>
  </div>

  <div class="section-wrap alt">
    <section>
      <figure>
        <img src="./camera-tag.jpg" alt="HAIRCVT App Camera &amp; Tagging">
      </figure>
      <figcaption>
        Camera &amp; Tagging
      </figcaption>
    </section>
  </div>

  <div class="section-wrap">
    <section>
      <figure>
        <img src="./portfolios.jpg" alt="HAIRCVT App Stylist &amp; Salon Portfolios">
      </figure>
      <figcaption>
        Stylist &amp; Salon Portfolios
      </figcaption>
    </section>
  </div>

  <div class="section-wrap alt">
    <section class="text-center">
      <p>
        <a href="https://itunes.apple.com/gb/app/haircvt/id804339145?mt=8" class="button" target="_blank">
          HAIRCVT on the iOS App Store
        </a>
      </p>
      <p>
        <a href="https://play.google.com/store/apps/details?id=com.haircvt.HAIRCVT" class="button" target="_blank">
          HAIRCVT on the Google Play Store
        </a>
      </p>
      <p>
        <a href="../" class="">
          <i class="icon-arrow-left"></i> View more work
        </a>
      </p>
    </section>
  </div>

{% endblock %}