{% extends "layout.html" %}

{% block content %}

  <div class="section-wrap">
    <section>
      <a href="../" class="backey-back"><i class="icon-arrow-left"></i>&nbsp;<span>Work</span></a>

      <h1>MINI</h1>
    </section>
  </div>

  <div class="section-wrap alt">
    <section>
      <div class="cols cols-2">
        <div class="col three-quarters">
          <h2>My Role</h2>
          <p>
            I joined a large development team to help build the new MINI websites on a brand new platform, ready to be localised and rolled out globally.
          </p>
          <p>
            This involved creating a completely responsive website using Adobe AEM 6 as a CMS through development of reusable components which could be dragged onto content pages and customised by authors.
          </p>
          <p>
            I was also responsible for running several workshops which helped new team members get up and running with the development stack.
          </p>
        </div>
        <div class="col one-quarter">
          <h2>Key Skills</h2>
          <ul class="unstyled">
            <li><i class="icon-arrow-right"></i> Adobe AEM 6</li>
            <li><i class="icon-arrow-right"></i> Sightly</li>
            <li><i class="icon-arrow-right"></i> Reusable JavaScript components</li>
            <li><i class="icon-arrow-right"></i> Jasmine</li>
            <li><i class="icon-arrow-right"></i> jQuery</li>
            <li><i class="icon-arrow-right"></i> SASS</li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="section-wrap">
    <section>
      <figure>
        <img src="./mobile.jpg" alt="MINI Homepage in mobile viewport">
      </figure>
      <figcaption>
        Homepage in mobile viewport
      </figcaption>
    </section>
  </div>

  <div class="section-wrap alt">
    <section>
      <figure>
        <img src="./content-page.jpg" alt="MINI Content page">
      </figure>
      <figcaption>
        Content page
      </figcaption>
    </section>
  </div>

  <div class="section-wrap">
    <section>
      <figure>
        <img src="./dealer-locator.jpg" alt="MINI Dealer locator">
      </figure>
      <figcaption>
        Dealer locator
      </figcaption>
    </section>
  </div>

  <div class="section-wrap alt">
    <section>
      <figure>
        <img src="./configurator.jpg" alt="MINI Car Configurator">
      </figure>
      <figcaption>
        Car Configurator
      </figcaption>
    </section>
  </div>

  <div class="section-wrap">
    <section class="text-center">
      <p>
        <a href="https://mini.co.uk/" class="button" target="_blank">
          View mini.co.uk
        </a>
      </p>
      <p>
        <a href="../" class="">
          <i class="icon-arrow-left"></i> View more work
        </a>
      </p>
    </section>
  </div>

{% endblock %}
