{% extends "layout.html" %}

{% block content %}

  <div class="section-wrap">
    <section>
      <a href="../" class="backey-back"><i class="icon-arrow-left"></i>&nbsp;<span>Work</span></a>

      <h1>PureResearch Group</h1>
      <p>
        PureResearch is a powerful tool for users to research investments.
      </p>
    </section>
  </div>

  {#<div class="section-wrap">
    <div class="image">
      <img src="http://placekitten.com/1000/300" alt="Somehting">
    </div>
  </div>#}

  <div class="section-wrap alt">
    <section>
      <div class="cols cols-2">
        <div class="col three-quarters">
          <h2>My Role</h2>
          <p>
            Built on Node.js with MongoDB, the app allows searching of investment products by location, tag, or by individual metrics such as risk return or income loss.
          </p>
          <p>
            D3.js is used to generate graphs showing a product's performance over time and relative to every other product.
          </p>
        </div>
        <div class="col one-quarter">
          <h2>Key Skills</h2>
          <ul class="unstyled">
            <li><i class="icon-arrow-right"></i> Node.js</li>
            <li><i class="icon-arrow-right"></i> MongoDB</li>
            <li><i class="icon-arrow-right"></i> RWD</li>
            <li><i class="icon-arrow-right"></i> D3.js</li>
          </ul>

        </div>
      </div>
    </section>
  </div>

  <div class="section-wrap">
    <section>
      <figure>
        <img src="./products.jpg" alt="PureResearch Group Products">
        <figcaption>
          Products View
        </figcaption>
      </figure>
    </section>
  </div>

  <div class="section-wrap alt">
    <section>
      <figure>
        <img src="./filters.gif" alt="PureResearch Group Filters &amp; graphs">
        <figcaption>
          Filters &amp; Graphs
        </figcaption>
      </figure>
    </section>
  </div>

  <div class="section-wrap">
    <section class="text-center">
      <p>
        <a href="http://pureresearchgroup.com" class="button" target="_blank">
          View pureresearchgroup.com
        </a>
      </p>
      <p>
        <a href="../" class="">
          <i class="icon-arrow-left"></i> View more work
        </a>
      </p>
    </section>
  </div>

{% endblock %}