/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.main-content {
  max-width: $bp-large;
  margin: 140px auto 0;
  padding: 0 20px;
}
